# Include any files you want to ignore (do not want to push to GitHub)
.ipynb_checkpoints
.DS_Store
.env
.venv
.txt
notebooks/rajan-hans/throw-away-code/
notebooks/rajan-hans/.streamlit
__pycache__
test.py