# Contains all libraries that are needed for this project

# search api
tavily-python
load_dotenv
graphviz
pygraphviz


# web scrapping libraries
selenium

# to load env files
python-dotenv

# langchain libraries
langchain
openai
langchain_community
wikipedia
requests
graphviz