# Contains all libraries that are needed for this project

# search api
tavily-python
load_dotenv
graphviz
pygraphviz

# web scrapping libraries

# to load env files
python-dotenv

# langchain libraries
langchain
